.price-1-right-header {
    background: none;
}

.price-1-right-item {
    border: none;
}
.price-1-right-img-item {
    height: 50px;
}

.introduce-item {
    margin-top: 20px;
}
.introduce-img-item {
    height: 400px;
    background-size: cover;
    border-radius: 8px;
}
.introduce-content {
    border: none;
    margin-top: 20px;
}
.introduce-header-color {
    justify-content: flex-start;
    align-items: center;
}
.introduce-header-time {
    margin-left: 10px;
}
.introduce-img-text {
    font-size: 10px;
}
.price-1-col {
    /* margin-right: 16px; */
}

.introduce-header:hover {
    color: black;
}
.introduce-detail:hover {
    color: #2466bd;
}


.introduce-sub {
    margin-bottom: 12px;
}
.introduce-detail {
    font-size: 1.3rem;
    color: #2466bd;
    text-decoration: underline;
}
.introduce-header-color {
    margin-bottom: 20px;
}
.price-1-right-sub-link {
    font-size: 1.4rem;
}

.page-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-bottom: 30px;
}
.page-number{
    padding: 10px;
    margin-right: 10px;
    
}

.page-pre {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.page-pre-text {
    margin-right: 10px;
    font-size: 1.8rem;
    text-transform: uppercase;
}


/*  blog 1 */
.blog-1-img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}
.blog-1-img-sub {
    text-align: center;
    font-size: 1.6rem;
    margin: 16px 0 8px 0;
}

.blog-1-img-item {
    height: 360px;
    width: 638px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-2-video {
    margin-top: 16px;
}
.blog-2-video iframe {
    width: 100%;
}


.blog-2-video-sub {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 12px;
}
