/* introduce 3 */
.introduce-3-row {


}
.introduce-3-img {


}
.introduce-3-img-item {
    height: 240px;
    width: 240px;
    width: 100%s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}