.video-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;

}
.video-overlay-content {
    background: white;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}
.video-overlay-item {
    display: none;
}


